name: remote ssh command
on: 
  push:
    branches: master
  
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        port: ${{ secrets.PORT }}
        script: |
          cd /cs/student/www/2021/group19/ixn-website
          pwd
          git pull origin master
          find . -type f -exec chmod 664 {} \;
          find * -type d -exec chmod 775 {} \;
